html {
  font-size: 62.5%;
}

button {
  margin: 20rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem groove blue;
  border-radius: 1rem;
  background: blue;
  color: white;
  font-size: 2.4rem;
}

.button-2 {
  height: 20rem;
  width: 20rem;
  background: rgb(185, 21, 144);
  font-size: 1.8rem;
  margin-top: 0rem;
  border: 1.5rem solid green;
  border-radius: 50%;
}
